.main-text-field{
    border: 1px solid #cbcbcb;
    font-size: 12px;
    outline: none;
    padding-left: 2px;
    border-radius: 5px;
}
.main-combobox{
    border: 1px solid #cbcbcb;
    min-width: 150px;
    border-radius: 5px;
    padding: 5px;
    -webkit-appearance: auto;
    -moz-appearance: auto;

}

.mouse-pointer{
    cursor: pointer !important;
}

.w-100{
    width: 100%;
}